/* TopDoctors Container */
.top-doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 64px;
    color: #1e293b;
}

@media (min-width: 768px) {
    .top-doctors {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* Title */
.top-doctors-title {
    font-weight: 600;
    font-size: 40px;
    color:black;
}

/* Description */
.top-doctors-description {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:#1e293b;
}

/* Doctors Grid */
.doctors-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    
}

@media (min-width: 640px) {
    .doctors-grid {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Doctor Card */
.doctor-card {
    border: 1px solid #bfdbfe;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}

.doctor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Doctor Image */
.doctor-image {
    background-color: #f3e8ff;
    
}

/* Doctor Details */
.doctor-details {
    padding: 16px;
}

/* Availability */
.availability {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #22c55e;
}

.availability-dot {
    width: 8px;
    height: 8px;
    background-color: #22c55e;
    border-radius: 50%;
}

/* Doctor Name */
.doctor-name {
    width: 100%;
    font-size:16px;
    color: #111827;
    text-align:left;

}

/* Doctor Speciality */
.doctor-speciality {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #4b5563;
}

/* More Button */
.more-button {
    background-color: #716c76;
    color: white;
    padding: 12px 48px;
    border-radius: 9999px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border: none; 
}
.more-button:hover {
    background-color: #d6c5e9; 
    color: #3e4043; 

}